<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Plugin startup -->
   <extension point="org.eclipse.ui.startup">
      <startup
            class="scala.tools.eclipse.sbtconsole.SbtConsolePlugin">
      </startup>
   </extension>

   <!-- Global properties -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.scala-ide.sdt.core.preferences"
            class="scala.tools.eclipse.sbtconsole.properties.PreferencesPage"
            id="scala.tools.eclipse.sbtconsole.properties.PreferencesPage"
            name="SBT Console">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="scala.tools.eclipse.sbtconsole.properties.PreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- Project properties -->
   <extension point="org.eclipse.ui.propertyPages">
      <page
            class="scala.tools.eclipse.sbtconsole.properties.PreferencesPage"
            id="scala.tools.eclipse.sbtconsole.properties.PreferencesPage"
            name="Scala SBT Console">
         <filter
               name="nature"
               value="org.scala-ide.sdt.core.scalanature"/>
         <enabledWhen>
         <or> 
           <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
           <instanceof value="org.eclipse.core.resources.IProject"/>
         </or>
         </enabledWhen>
      </page>
   </extension>

   <!-- Launching via Run As -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="scala.tools.eclipse.sbtconsole.SbtConsoleLaunchConfigurationDelegate"
           delegateDescription="Scala SBT Console"
           delegateName="Scala SBT Console Launcher"
           id="scala.sbtconsole"
           modes="run"
           name="Scala SBT Console"
           public="true"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
     </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="scala.sbtconsole"
        class="scala.tools.eclipse.interpreter.InterpreterTabGroup"
        id="scala.sbtconsole.tabGroup">
        <launchMode
              mode="run"
              description="Shows/hides the SBT console">
        </launchMode>
    </launchConfigurationTabGroup>
    </extension>
   
   <!-- Launching via Right click on project -> Scala popup menu -> Create a SBT console in ... -->
   <extension point="org.eclipse.ui.popupMenus">
     <objectContribution
      id="org.scala-ide.sdt.ui.interperter.start"
      objectClass="org.eclipse.jdt.core.IJavaElement">
      <action
        class="scala.tools.eclipse.sbtconsole.actions.SbtConsoleAction"
        enablesFor="1"
        menubarPath="org.scala-ide.sdt.core.popupMenu/content"
        id="org.scala-ide.sdt.ui.createSbtConsole"
        label="Show/hide SBT Console"
        tooltip="Shows or hides the SBT Console"/>

      <visibility>
        <and>
          <or>
            <objectState name="projectNature" value="org.scala-ide.sdt.core.scalanature"/>
            <objectState name="projectNature" value="ch.epfl.lamp.sdt.core.scalanature"/>
          </or>
          <or>
            <objectClass name="org.eclipse.jdt.core.IJavaProject"/>
            <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
          </or>
        </and>
      </visibility>
      </objectContribution>
  </extension>
  
  <!-- Preferred: Launching via menu -->
  <extension point="org.eclipse.ui.actionSets">         
     <actionSet id="org.scala-ide.sdt.ui.sbtConsoleMenu.actionSet"
       label="Scala Diagnostics" 
       visible="true">
       <menu id="org_scala-ide_sdt_ui_menu"
         label="Scala"
         path="additions"> 
         <groupMarker name="diagnostics"/>
         <groupMarker name="additions"/>
       </menu>
       <action
         class="scala.tools.eclipse.sbtconsole.actions.ShowSbtConsoleAction"
         enablesFor="*"
         id="org.scala-ide.sdt.ui.runSbt"
         label="Show/hide SBT Console"
         menubarPath="org_scala-ide_sdt_ui_menu/additions"
         style="toggle"
         tooltip="Shows or hides the SBT console for the current project."
         definitionId="scala.tools.eclipse.sbtconsole.commands.ShowSbtConsoleAction"
         >
       </action>
     </actionSet>
   </extension>
   
  <extension point="org.eclipse.ui.commands">
    <command
      categoryId="scala.tools.eclipse.category"
      id="scala.tools.eclipse.sbtconsole.commands.ShowSbtConsoleAction"
      name="Show/hide SBT Console" />         
  </extension>    

  <extension point="org.eclipse.ui.bindings">
    <key sequence="M1+M2+M3+S"
      commandId="scala.tools.eclipse.sbtconsole.commands.ShowSbtConsoleAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      contextId="scala.tools.eclipse.scalaEditorScope"
    />
  </extension>
  
</plugin>
